*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica";
}


html{
	width: 100%;
	height: 100%;
}

body{
	background: gray;
	font-family: sans-serif;

}

.container {
	max-width: 1130px;
	margin: 0 auto;
}

.center{
	max-width: 1280px; /* 785 */
	margin: 0 auto;
	padding: 0 2%;
}

.clear{clear: both;}

/*
	Menu 1 com Header
*/

header{
	background: black;
	padding: 12px 0;
}

.header-left{
	float: left;
}

.header-left img{
	max-width: 120px;
}

.menu-header{
	position: relative;
	top: -10px;
	display: inline-block;
	margin-left: 30px;
}

.menu-header li {
	font-size: 14px;
	display: inline-block;
	margin-right: 15px;
}
.menu-header a {
	color:  white;
	text-decoration: none;
}

/**/

.header-right{
	margin-top: 10px;
	float: right;
}

.search,
.notifications{
	display: inline-block;
}

.notifications{
	position: relative;
}

.circle-notifications{
	position: absolute;
	right: 0;
	top: -10;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #e50914;
	text-align: center;
	vertical-align: 20px;
}

.circle-notifications span{
	font-size: 12px;
	color: white;
}
.header-right i{
	margin: 0 10px;
	cursor: pointer;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.header-right a{
	color: white;
	text-decoration: none;
}

.header2 {
	background: rgba(0, 0, 0, 0.9);
	color: white;
}

p.p-index{
	width: 460px;
}

img.capa {
	width: 200px;
	height: 300px;
}

.grid-container {
	justify-content: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 2px;
	background-color: #2196F3;
	padding: 5px;
}

.grid-container1 {
	position: relative;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 2px;							/*5 Distancia entre um banner e outro (margens) */
	background-color: rgba(0, 0, 0, 0.8);	/*#2196F3; Esse é o fundo*/
	padding: 10px;							/* Distancia do banner até o setor acima */
	color: black;							/* cor da fonte */
	margin-top: 0px;						/* margem de cima */
	margin-bottom: 0px;						/* Margem do rodapé */
}

.grid-container1 > div {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid black;
	text-align: center;
	font-size: 30px;

}

.capa img {
	position: relative;
/*	grid-column: 4 ; /*0,5 / span 1;*/
	width: 181px;
	height: 300px;
	border-top: 8px solid #222;
	border-bottom: 8px solid #222;
	border-left: 8px solid #222;
	border-right: 8px solid #222;
}

p.sinopse {
	color: white;
	font-size: 14px;
}

p.nome {
	font-size: 20px;
}

@media (min-width: 600px) {
	html {
		width: 100%;
	}

	.grid-container1 {
		position: relative;
		width: 100%;
	}

	img.capa {
	width: 120px;
	height: 200px;
	}

}